/* ---------- VARIABLES ---------------- */
:root{
    --icon-w: 15px;
    --icon-size: 20px;
    --icon-padding: 20px;
}


/*----------Mobile Formatting ------------------*/
@media screen and (max-width: 300px){
    .title-section {
        flex-direction: column;
        align-items: center;
    }

    .title-text {
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .title-icons {
        justify-content: center;
    }

}
@media screen and (max-width: 480px){
    .header-logos{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    pre code {
        font-size: 0.8em !important;
    }
}

    

/*----------Mobile + Tablet Formatting----------*/

@media screen and (max-width: 800px) {
    /*---------COLOUR OVERHAUL---------*/
    a:link, a:visited {text-decoration: none;}
    a { 
        -webkit-tap-highlight-color: transparent; 
        -webkit-tap-highlight-color: rgba(0,0,0,0); /* For older webkit browsers */ 
    }

    /* ------Title-------*/
    .title-section {
        justify-content: center;
    }

    .title-text {
        text-align: left;
    }
    .first-col{margin-top: 1.5em;}
    .middle-col{margin: 1.5em 0em;}
    .last-col{margin-bottom: 2em;}

    



/* ------- NAV -----------------------*/
    ul.nav {
        list-style-type: none;
        margin: 0em;
        padding: 0em;
        overflow: hidden;
        width: 100%;
    }
    li a {
        display: block;
        padding: 0px 0px;
        text-decoration: none;
        text-align: center;
    }
    nav ul.nav li {
        float: center;
        width: 100%;
    }

/* --------- HEADER + FOOTER --------------*/
    .footer{
        max-height: 30vh;
    }

/* --------- GENERAL ---------------------- */
    article {
        margin-left: 1%;
        margin-right: 1%;
    }


/* -------- DIVIDERS ----------------------- */
    :is(.col-1, .col-2, .col-3){
        width: 100%;
        display: block;
        padding: 0em 0.5em;
    }

    .card{width: 100%;}

    .split {
      width: 100%;
      display: block;
    } 

/*----------- Images ------- */
    .img-l {
        float: left;
        width: 100%;
        padding: 5px;
    }
    .img-r {
        float:right;
        width: 100%;
        padding: 5px;
    }
    :is(.small, .medium, .large){
        width: 100%;
        padding: 1em;
    }

/* ------ Tables --------- */
    table{
        overflow-x: auto;
        display: block;
        width: 100%;
    }
    td { 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
    
    .chicago-td{padding: 0 0.2em;}
    .proj-td{padding: 0 0.2em;}
    .proj-th{padding: 0 0.2em;}

    /*-------- CODE ----------*/
    /*------Generic Colours (irrespective of mode) ------*/
    pre{
        text-shadow: none !important;
    }
    .code-title{
        color: white !important;
    }
    code{
        color: white !important;
        text-shadow: none !important;
        & span {background: transparent !important;}
    }
    
}
  